@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: large
  /* font-family: "monserrat", sans-serif; */
  /* font-family: monospace, sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}
